[submodule "flutter_architecture"]
	path = flutter_architecture
	url = https://Okanesboy@bitbucket.org/maew-dev/flutter-provider.git
[submodule "flutter"]
	path = flutter
	url = https://github.com/nesprasit/flutter.git
